body{
    padding: 0;
    margin: 0; 
    height: auto;
    width: auto;
    background-color: #333533;
    font-family: Helvetica Neue;
    overflow: hidden;
}
header{
    text-align: center;
    padding-top: 15px;
    color: #f8f9fa;
    text-shadow: -1px -1px 0 #242423,
    1px -1px 0 #242423,
    -1px 1px 0 #242423,
    1px 1px 0 #242423;
}

/* Body of the calculator */
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}
.calcBody{
    border-radius: 15px;
    border: 1px solid #242423;
    width: 430px;
    height: 600px;
    background-color: #333533;
}
.upper{
    display: flex;
    justify-content: center;
}
.display{
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid #242423;
    width: 375px;
    height: 90px;
    background-color: #f8f9fa;
    font-size: 30px;
}
.topDisp{
    height: 43px;
    /*border: 1px solid red;*/
    text-align: right;
}
.bottomDisp{
    height: 43px;
    /*border: 1px solid red;*/
    text-align: right;
    display: flex;
}
.leftDisp{
    width: 50%;
    border: 1px solid red;
}
.rightDisp{
    width: 50%;
    border: 1px solid red;
}
/* Functions of the calculator */
.daily{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.days{
    color: #f8f9fa;
    font-weight: bold;
    font-size: 22px;
    padding-left: 25px;
}
.daysInput{
    padding-right: 35px;
}
.labor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.laborInput{
    color: #f8f9fa;
    font-weight: bold;
    font-size: 22px;
    padding-left: 40px;
}
.addLabor{
    padding-right: 70px;
}
.seventy{
    padding-left: 15px;
}
.hundred{
    padding-right: 20px;
}
.button{
    width: 100px; 
    height: 40px;
    border: 1px solid black;
    background-color: #f8f9fa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333533
}
#reset{
    margin-left: 65px;
}
#calculate{
    margin-right: 65px;
}
