body{
    padding: 0;
    margin: 0; 
    height: 100%;
    width: 100%;
    background-color: #F5CB5C;
}
header{
    text-align: center;
    padding-top: 15px;
    color: #f8f9fa;
    text-shadow: -1px -1px 0 #242423,
    1px -1px 0 #242423,
    -1px 1px 0 #242423,
    1px 1px 0 #242423;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}
.calcBody{
    border-radius: 15px;
    border: 2px solid #242423;
    width: 450px;
    height: 600px;
    background-color: #333533;
}
.upper{
    display: flex;
    justify-content: center;
}
.display{
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid #242423;
    width: 400px;
    height: 90px;
    background-color: #f8f9fa;
}
.inputs{
    display: flex;

}
.days{
    color: #f8f9fa;
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
}